#nav {   
	float: right; 
	font-size: 10pt;
	font-family: comic sans ms, kartika, monospace;
	font-weight: normal;
	color: black;
	}
#imgbase1 {
/*style="position:absolute;z-index:1;visibility:visible; left:0px;top:0px;width:150px;height:830px;"*/
	position:absolute;
	z-index:1;
	visibility:visible;
	left:0px;
	top:0px;
	width:150px;
	height:830px;
	border=1;
}
#numvisitas {
	position:absolute;
	z-index:1;
	visibility:visible;
	left:1000px;
	top:50px;
	width:100px;
	height:50px;
	border=2;
	font-size: 12pt;
	font-family: comic sans ms, kartika, monospace;
	font-weight: normal;
	color: black;
}
.chimofont1{
	font-size: 14pt;
	font-family: comic sans ms, kartika, monospace;
	font-weight: bold;
	color: black;
}
.chimofont2{
	font-size: 10pt;
	font-family: comic sans ms, kartika, monospace;
	font-weight: normal;
	color: black;
}
#chimofont3{
	font-size: 12pt;
	font-family: comic sans ms, kartika, monospace;
	font-weight: bold;
	color: black;
	border:1;
	border-style:solid;
	border-color: #000000;
	/*margin-left:6em;*/
}
.chimofont4{
	font-size: 11pt;
	font-family: comic sans ms, kartika, monospace;
	font-weight: bold;
	color: black;
	/*margin-left:10em;*/
}
.chimofont5{
	font-size: 11pt;
	font-family: comic sans ms, kartika, monospace;
	/*font-weight: bold;*/
	color: black;
	/*margin-left:10em;*/
}
#chimofont6{
	font-size: 12pt;
	font-family: comic sans ms, kartika, monospace;
	font-weight: bold;
	color: black;
	border:1;
	border-style:solid;
	border-color: #000000;
	margin-left:8em;
}
#margen {
	margin-left:12em;
}	
.chimobackground1{
	background-color: #c0f090;
	/*left:10em;*/
}
.chimobackground2{
	background: "/Media/photos/preocupado1.jpg"; 
}
body { 
	/*color: #bf8; */
	/*border-top: 1px dottex #fff; */
	/*padding-left: 9em;*/
	/*padding-left:170px;*/
	/*position:relative;*/
	font-family: comic sans ms, kartika, monospace;
	font-weight: normal;
	color: black;
	/*margin:10px;*/
	/*left:30px;
	height:20px;*/
	font-size:12pt;
	/*margin-top: 1em;*/
	/*background-color: cyan;*/
	}
h2 { 
	/*color: #bf8; */
	/*border-top: 1px dottex #fff; */
	position:relative;
	font-family: comic sans ms, kartika, monospace;
	font-weight: normal;
	color: black;
	margin:10px;
	left:10em;
	/*height:20px;*/
	font-size:13pt;
	}
h3 { 
	/*color: #bf8; */
	/*border-top: 1px dottex #fff; */
	position:relative;
	font-family: comic sans ms, kartika, monospace;
	font-weight: normal;
	color: black;
	margin:10px;
	font-size:12pt
	left:11em;
	}
h1 { 
	color : black;
	/*padding : 1em 12em;*/
	background : #79a;
	font-size:20pt;
	text-align: center;
	font-family:comic sans ms, monospace, kartika;
	}

.pantalla {
	position: absolute;
	top: 1em;
	left: 15em;
	width: 50em;
}
#hora {
	position: absolute;
	top: 1em;
	left: 11em;
	width: 12em;
}
#campo {
	width: 12em;
}
